a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
.section-padding {
  padding: 120px 0;
}
.bg-gray {
  background-color: whitesmoke;
}
.bg-white {
  background-color: white;
}
.section-head {
  position: relative;
  margin: 0 auto 80px;
}
.section-head h6 {
  color: #74abad;
  font-weight: 300;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 10px;
}
.section-head h4 {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 2px;
}
.section-padding .more {
  color: #74abad;
  font-size: 15px;
  letter-spacing: 1px;
  border-bottom: 1px solid #74abad;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.section-padding .item .img img {
  width: 100%;
  height: 250px;
}
.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}
.view-more {
  margin-top: 100px;
  text-align: center;
}
.view-more .btn-more {
  background-color: #74abad;
  color: #fff;
  border-radius: 4px;
  padding: 0.7rem 1.5rem;
  font-size: 15px;
}
.view-more .btn-more:hover {
  background-color: #fff;
  color: #74abad;
  border: 1px solid #74abad;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-120 {
  margin-top: 120px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-80 {
  margin-top: 120px;
}
.mr-10 {
  margin-right: 10px;
}
a {
  text-decoration: none !important;
}
li {
  list-style-type: none !important;
}
.left-auto {
  margin-left: auto;
}
.img-circle {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}
.bg-green {
  background: #c9f7f5;
}
.bg-red {
  background: #ffe2e5;
}
.bg-purple {
  background: #f3e1fb;
}
.bg-blue {
  background: #e1f0ff;
}
.bg-yellow {
  background: #fff4de;
}
.box-green {
  background: #3faba4;
}
.box-red {
  background: #e7505a;
}
.box-purple {
  background: #8e44ad;
}
.box-blue {
  background: #3598dc;
}
.box-yellow {
  background: #ffa800;
}
.btn-light {
  color: black;
  font-size: 13px;
}
.btn-dark {
  color: #fff;
  font-size: 13px;
  border: none !important;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.input-inline {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.input {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.width-80 {
  width: 80px;
}
.width-145 {
  width: 145px;
}
.m-l-5 {
  margin-left: 5px;
}
.mt-checkbox {
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 13px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-checkbox input {
  border: 1px solid #d9d9d9 !important;
  background: 0 0;
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 18px;
}
.data-tables_pager {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.data-tables_left {
  padding-top: 0.85em;
}
.data-tables_right {
  margin: 0.5rem 0;
  margin-right: 1rem;
  display: inline-block;
}
textarea,
input,
select {
  font-size: 13px !important;
}
.search .search-global {
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.search .search-global-inner {
  padding: 10px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  margin: 0px;
}
.search .input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.search .input-group input {
  background: white !important;
  border: none !important;
}
.custom-dropdown-menu {
  padding: 40px 40px 15px;
  width: 65%;
  max-height: 380px;
  margin-top: -10px;
  margin-left: auto;
  left: 0;
  right: 0;
  border: 0;
  border-radius: 10px;
  min-width: 40rem;
}
.width-88-px {
  width: 88px !important;
}
.feedback-outer {
  position: fixed;
  bottom: calc(36px + 0.5rem);
  right: 1rem;
  transition: bottom 0.25s cubic-bezier(.45,.05,.55,.95);
}
.feedback {
  display: block;
  padding: 0;
}
.feedback > img {
  width: 120px;
  height: auto;
}
.feedback i {
  font-size: 20px;
}
#mybutton {
  position: fixed;
  bottom: 80px;
  right: 10px;
}
.detail_modal label {
  font-weight: 600;
}
.detail_modal .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.detail_modal .modal-header {
  border-bottom: 0;
  padding: 32px 32px 12px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.detail_modal .modal-body {
  padding-left: 2rem;
  padding-right: 2rem;
}
.detail_modal .modal-footer {
  border-top: unset;
}
.font-13 {
  font-size: 13px;
}
.list-item .text-emoji {
  color: white;
}
.item:hover .text-emoji {
  color: black;
}

.dataset-detail .table {
  width: 100%;
  border: 1px solid #eeeeee;
}
.dataset-detail .table-header {
  display: flex;
  width: 100%;
  background: #000;
  padding: 15px 0;
}
.dataset-detail .table-header a,
.dataset-detail .table-header a:hover,
.dataset-detail .table-header a:focus {
  color: white !important;
}
.dataset-detail .table-row {
  display: flex;
  width: 100%;
  padding: 15px 0;
}
.dataset-detail .table-row:nth-of-type(odd) {
  background: #eeeeee;
}
.dataset-detail .table-data,
.dataset-detail .header__item {
  flex: 1 1 20%;
  text-align: center;
}
.dataset-detail .header__item {
  text-transform: uppercase;
}
.dataset-detail .filter__link {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.dataset-detail .filter__link::after {
  content: "";
  position: absolute;
  right: -18px;
  color: white;
  font-size: 12;
  top: 50%;
  transform: translateY(-50%);
}
.dataset-detail .filter__link.desc::after {
  content: "(desc)";
}
.dataset-detail .filter__link.asc::after {
  content: "(asc)";
}
.sektoral .tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 40%;
  height: auto;
  /* Style the buttons inside the tab */
}
.sektoral .tab .box-button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 15px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  /* Change background color of buttons on hover */
}
.sektoral .tab .box-button:hover {
  background-color: #ddd;
  /* Create an active/current "tab button" class */
}
.sektoral .tab .box-button.active {
  background-color: #ccc;
  /* Style the tab content */
}
.sektoral .tabcontent {
  float: left;
  padding: 15px;
  border: 1px solid #ccc;
  width: 100%;
  border-left: none;
  height: auto;
  background: #fafafa;
}
.sektoral .tabcontent h6 {
  font-size: 0.9rem !important;
}
.sektoral .tab .img .img-fluid {
  width: 50px;
}
.sektoral .tabcontent .img .img-fluid {
  width: 70px;
}
.sektoral .tabcontent .card-body {
  padding: 10px;
  background-color: #e2e6ea;
  border-radius: 4px;
}
.sektoral .tabcontent .card-body:hover {
  background-color: whitesmoke;
}
.sektoral .tabcontent .card-body .desk a {
  font-weight: 500;
  font-size: large;
}
.sektoral .tabcontent .card-body .desk a:hover {
  color: #74abad;
}
