.table>tbody>tr>td {
    padding: 5px 5px !important;
    /* background-color: #1c3b6a;  */
    color : #000000;
    border-bottom : grey 1px solid;
    font-size: 20px;
}
.table>thead>tr>th {
    padding: 5px 0px !important; 
    /* background-color: #1c3b6a;  */
    color : #000000;
    border-bottom: #E5E5E5 1.5px solid;
    font-size: 18px;
}

.satellite_name_div{
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0;
   text-align: center;
   color: black;
}

.box-inside-div{
   background-color:#fff;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0;
   text-align: center;
   color: black;
   height:150px
   /* border: 1px solid black; */
}

.satellite_internet_div{
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0;
   text-align: center;
   border: 1px solid black;
}
#satelite_name{
margin: 10px;
padding: 10px;
}

.table.dataTable {
margin: 0px !important;
/* background-color: #1c3b6a; */
color : #b5bcc5;
}
.arrow-up-style {
position: absolute;
font-weight: bold;
font-size: 25px;
color: #08aeae;
}
.dropdown-custom {
font-size: 11px;
padding: 5px 5px;
font-weight: bold;
border-radius: 5px;
height: 3% !important;
}      
/* tambahan mindy */
.specific-info{
display:none;
padding:1%;
}
.text-footer {
position: absolute;
right: 1.5%;
bottom: 0;
}
.row-head {
background: #0f2a57;
}
#satmap{
height: 100%;
width: 100%;
}
.analytics-info{
background-color : #1C3B6A;
border-radius: 25px;
margin: 5px;
padding: 3%;
padding-left :3%;
height : 15vh
}
.analytics-info > h3, small{
color : #fff;
}
.analytics-info > h3{
font-size: 18px;
}
.c-yellow {
color: #ffff00;
}
.row-foot {
height: 4vh;
width: 40%;
position: absolute;
z-index: 999;
right: 0;
bottom: 0%;
}

.gm-style-iw.gm-style-iw-c {
   background-color:  #122E5E!important;
}

.panel .panel-body{
background-color: transparent;
padding-top: 0px;
}
.panel{
background-color: transparent !important;
padding-top: 0px;
border-bottom: #E5E5E5 1px solid;
margin-bottom: 0px;
width: 100%;
height : 60%;
}
.widget{
   max-height : 14.3vh !important;
   min-height : 12.3vh !important;
   box-shadow: 0 5px 15px rgb(0 0 0 / 30%);
   /* background-color: #1c3b6a; */
   margin-top: 5px;
   border-radius:1vh;
}

.widget-padding-sm{
   padding : 10px 0px 5px;
}
#satelite_name{
margin: 10px;
padding: 10px;
}
.legend-text-label{
color : #F2E205;
font-size : 18px;
}
.legend-text-value{
color : #fff;
font-size : 18px;
}
.bep-title-ekse{
   font-size : 20px;
   text-align : left;
   color : #000;
}
.gm-style .gm-style-iw .gm-style-iw-c{
     background: #122E5E!important;
     color: #FFF!important;
 }
#table_maps>tbody>tr>td{
   text-align: left!important;
   padding-left: 5% !important;
   padding-right: 5% !important;
}

td.tx-14 { 
   font-size: 16px !important;
}
th.text-white { font-size: 20px !important;
}

.tabel-provider > tbody > tr {
   line-height: 22px !important;
   font-size:13px;
   /* color:#000000 */
}

.tabel-provider > tbody > tr > td {
   text-align: left;
   font-size: 18px;
}

/* styling bagian satellite dan internet */
body {
   background-color: #ECECEC !important;
}

.card {
   position: relative;
   /* margin-top: 64px; */
   margin-bottom: 6px;
   border-radius: 6px;
}

.card-block {
   min-height: 30px;
   padding-top: 12px !important;
   padding-bottom: 12px !important;        
}
.title {
   font-size: 14px;
   line-height: 14px;
   opacity: 0.54;
   margin: 0 !important;
}
       
.value {
   font-size: 52px;
   line-height: 52px;
   opacity: 0.87;
   margin: 0 !important;
}
   
.img-box {
   width: 30%;
   height: 40%; 
   border-radius: 4px;
   left: 30px;
   display: flex;
   justify-content: center;
   align-items: center;        
}
   
.orange {
   background-color: #e67e22;
}
       
.green {
   background-color: #2ecc71;
}
   
i{
   color: white;
   font-size: 2rem;
}

.card-header{
   background-color: #029de0;
   color: white;
   font-weight: bold
}

.outer {
   position: relative;
   width: 600px;
   height: 400px;
}
canvas {
   position: absolute;
}
.percent {
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0);
   font-size: 80px;
   bottom: 0;
}

hr{
   border-top: 1px solid #000000; 
   width: 80%; text-align:center;
   margin-bottom: 0px;
}

#tabel-utilization{
   width:80%;
   margin:auto;
   margin-bottom: 10px;
}

#tabel-terminal{
   width:80%;
   margin:auto;
   margin-bottom: 10px;
}

.tabel-chart > tbody > tr > td{
   font-size: 18px;
   border-bottom : black 3px solid;
}

.tabel-chart > tbody > tr > th{
   font-size: 16px;
   border-bottom : black 2px solid;
}

.chart-title-div{
   margin : 10px 5px 5px 5px;
   font-weight: 700;
   font-size:20px;
   color: #000;
}

.tabel-title-div{
    margin: 10px 5px 5px 7%;
    font-weight: 700;
    font-size: 20px;
    color: #000;
}

.summary-box-title{
   font-weight:700;
   font-size:15px!important;
   letter-spacing:1px;
}

.summary-box-value{
   font-size:16px
}

.satellite_name_box{
    display:flex;
    flex:1;
}

/* satellite name div start*/
.satellite_name_widget{
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0;
   text-align: center;
   color: black;
   display:flex;
   align-items:center;
   margin-bottom:20px!important;
   height:150px;
   background-color:white;
}

.satellite-name-title{
   font-weight:700;
   text-transform:uppercase;
   letter-spacing:1px;
}

.satellite-name-value{
   font-size:18px
}
/* satellite name div end*/

/* info provider div start*/
#info-provider-div{
   display:none;
   flex:1;
   flex-direction: column;
   /* margin-bottom:18px; */
}
.info-provider-title{
   font-weight:700;
   font-size:18px!important;
   letter-spacing:1px;
}
.info-provider-value{
   font-size:20px;
}
/* info provider div end*/

/* internet satellite div start*/
.internet_satellite_title{
    font-weight:700;
    font-size:18px!important;
    letter-spacing:1px
}
.internet_satellite_value{
    font-size:20px;
    /* font-weight:900; */
}
.internet_satellite_img{
   height:8vh
}
/* internet satellite div end*/


#total_site_terminal_lc2_value{
   font-size: 35px;
   font-weight:500;
}

#total_site_terminal_lc2_title{
   font-size: 30px;
   font-weight:500;
}

#label_terminal_notfound{
   font-size: 30px;
   font-weight:500;
   margin: 10px 5px 5px 5px;
}
.table>tfoot>tr>td {
    font-size: 10px;
}

.satellite_name_logo_img{
    height:8vh;
}

.chart_div{
    box-shadow: 0 5px 15px rgb(0 0 0 /0.2)
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .mb-sm-20{
        margin-bottom: 5%;
    }

    .satellite-name-title{
        font-weight:700;
        font-size: 10px;
        text-transform:uppercase;
        letter-spacing:1px;
    }

    .satellite-name-value{
        font-size:13px
    }

    .satellite_name_widget{
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        text-align: center;
        color: black;
        display:flex;
        align-items:center;
        margin-bottom:20px!important;
        height:100px;
        width:100%;
        background-color:white;
    }
    .satellite_name_logo_img{
        height:8vh;
    }

    .internet_satellite_title{
        font-weight:700;
        font-size:10px!important;
        letter-spacing:1px
   }
   .internet_satellite_value{
        font-size:15px;
        /* font-weight:900; */
   }
   .internet_satellite_img{
       height:8vh
   }
    .box-inside-div{
        height:80px
    }
    /* disini sekarang */
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .mb-sm-20{
        margin-bottom: 5%;
    }

    .satellite-name-title{
        font-weight:700;
        font-size: 20px;
        text-transform:uppercase;
        letter-spacing:1px;
    }

    .satellite-name-value{
        font-size:23px
    }

    .satellite_name_widget{
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        text-align: center;
        color: black;
        display:flex;
        align-items:center;
        margin-bottom:20px!important;
        height:100px;
        width:100%;
        background-color:white;
    }
    .satellite_name_logo_img{
        height:8vh;
    }

    .internet_satellite_title{
        font-weight:700;
        font-size:20px!important;
        letter-spacing:1px
   }
   .internet_satellite_value{
        font-size:22px;
        /* font-weight:900; */
   }
   .internet_satellite_img{
       height:8vh
   }
    .box-inside-div{
        height:80px
    }


}



/* Portrait phones and smaller */
@media (max-width: 480px) {
.mb-sm-20{
    margin-bottom: 5%;
}

#satmap{
    height:50vh;
}
.satellite-name-title{
    font-weight:700;
    font-size: 15px;
    text-transform:uppercase;
    letter-spacing:1px;
}

.satellite-name-value{
    font-size:18px
}

.satellite_name_widget{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
    color: black;
    display:flex;
    align-items:center;
    margin-bottom:20px!important;
    height:100px;
    width:100%;
    background-color:white;
}
.satellite_name_logo_img{
    height:8vh;
}

.table>tbody>tr>td {
    padding: 5px 5px !important;
    /* background-color: #1c3b6a;  */
    color : #000000;
    border-bottom : grey 1px solid;
    font-size: 12px;
}
.table>thead>tr>th {
    padding: 5px 0px !important; 
    /* background-color: #1c3b6a;  */
    color : #000000;
    border-bottom: #E5E5E5 1.5px solid;
    font-size: 10px;
}

#satellite_name{
    flex-wrap: wrap;
    padding:0px;
}

/* .satellite_name_box{
    display:flex;
    flex:1;
} */

}


/* Portrait phones and smaller */
@media (max-width: 480px) {
.mb-sm-20{
    margin-bottom: 5%;
}

#satmap{
    height:50vh;
}
.satellite-name-title{
    font-weight:700;
    font-size: 15px;
    text-transform:uppercase;
    letter-spacing:1px;
}

.satellite-name-value{
    font-size:18px
}

.satellite_name_widget{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
    color: black;
    display:flex;
    align-items:center;
    margin-bottom:20px!important;
    height:100px;
    width:100%;
    background-color:white;
}
.satellite_name_logo_img{
    height:8vh;
}

.table>tbody>tr>td {
    padding: 5px 5px !important;
    /* background-color: #1c3b6a;  */
    color : #000000;
    border-bottom : grey 1px solid;
    font-size: 12px;
}
.table>thead>tr>th {
    padding: 5px 0px !important; 
    /* background-color: #1c3b6a;  */
    color : #000000;
    border-bottom: #E5E5E5 1.5px solid;
    font-size: 10px;
}

#satellite_name{
    flex-wrap: wrap;
    padding: 0px;
}

/* .satellite_name_box{
    display:flex;
    flex:1;
} */

}